<p class="page-title">New Recipe is being created by <i> <%= current_user.name %> </i> </p>
<%= form_with model: @recipe, url: recipes_path, class: 'create-form'  do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <span></span>
  </div>
  <div class="field">
    <%= f.label :prepration_time %>
    <%= f.number_field :prepration_time, step: 0.01 %>
    <span>Hour</span>
  </div>
  <div class="field">
    <%= f.label :cooking_time %>
    <%= f.number_field :cooking_time, step: 0.01 %>
    <span>Hour</span>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <span></span>
  </div>
  <div class="checkbox">
    <%= f.check_box :public %>
    <%= f.label :public %>
  </div>
  <%= f.submit "Add Recipe" %>
<% end %>
