<h2>New Food is being created by <i> <%= current_user.name %> </i> </h2>
<%= form_with model: @food, url: foods_path  do |f| %>
  <div class="field">
    <%= f.label :name %>: 
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :measurment_unit %>: 
    <%= f.text_field :measurment_unit %>
  </div>
  <div class="field">
    <%= f.label :price %>: 
    <%= f.number_field :price, step: 0.01 %>
  </div>
  <%= f.hidden_field :quantity, value: 0 %>
  <%= f.submit "Add Food" %>
<% end %>
